<h1>Hello, {{ vari }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <p>Estudiante, {{vari}}</p>      
      <p>
        Edad = {{edad}} {{esMayorDeEdad()}}<br/>
        Salario mensual= {{salario}}<br/>
        Salario anual = {{salario * 12}}<br/>
      </p>
      <p> Lista 1</p><strong> Aplicacion:</strong><u> especificaciones</u> estrictas.........
      <p>Lista 2</p><strong> Materiales:</strong>bajo supervizacion jadjdkdd <u> fragiles</u>
      <p> Lista 3</p><strong> Residuos:</strong><u> de laboratorio altamente peligrosos</u>
      <p>Seccion EDAD</p>
<p>
  <strong>Edad=</strong> {{edad}} {{esMayorDeEdad()}}<br>
  <strong>Salario mensual=</strong> {{salario}}<br>
  <strong>Salario anual=</strong> {{salario *12}} <br>
</p>

<p (click)="incrementar()">
  <strong>Edad= </strong> {{edad}} <span *ngIf="edad <18"> Es menor de edad</span><br />
</p>

<ul>
  <li *ngFor="let sueldo of sueldos"> {{sueldo*contador}}</li>
</ul>

<p>  
  <button (click)="incrementar()"> Incrementar</button>{{contador}}
</p>
<hr>
<form>
  <input type="text" name="txtName" [(ngModel)]="vari" /><br />
  <hr />
  Calculadora
  <br />
  A= <input type="number" name="txtA" [(ngModel)]="a" /><br />
  B= <input type="number" name="txtB" [(ngModel)]="b" /><br />
  Resp= <input type="number" name="txtC" [(ngModel)]="c" /><br />
  <br />
  <button (click)=" sumar()"> Sumar</button>
</form>
<hr/>

<table border="1">
  <tr>
    <th>Codigo</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let articulo of articulos">
    <td>{{ articulo.codigo }}</td>
    <td>{{ articulo.descripcion }}</td>
    <td>{{ articulo.precio }}</td>
    <td>
      <button (click)="cargarArticulo(articulo.codigo)">Seleccionar</button>
      <button class="eliminar-btn" (click)="borrarArticulo(articulo.codigo)">Eliminar</button>
    </td>
  </tr>
</table>

<br/>

<app-formulario
  [codigo]="codigo"
  [descripcion]="descripcion"
  [precio]="precio"
  (guardarArticulo)="actualizarGuardarArticulo($event)"
  (borrarArticulo)="borrarArticulo($event)">
  (limpiar)="limpiarFormulario($event)">
</app-formulario>

<hr/>

<app-dado #dado1 ></app-dado>
<app-dado #dado2 ></app-dado>
<app-dado #dado3 ></app-dado>

<br>

<button (click)="dado1.lanzar()">Lanzar 1</button>
<button (click)="dado2.lanzar()">Lanzar 2</button>
<button (click)="dado3.lanzar()">Lanzar 3</button><br/>
<button (click)="lanzar()">Lanzar Dados</button>

<p *ngIf="mensaje">{{ mensaje }}</p>

<hr/>

{{minuto}} min.
<app-cronometro (minuto) = "actualizar($event)"></app-cronometro>


<hr/>

<table border="1">
  <tr>
    <th>Nombre</th>
    <th>Raza</th>
    <th>Foto</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let perro of perros">
    <td>{{ perro.nombre }}</td>
    <td>{{ perro.raza }}</td>    
    <td>      
      <img src="{{perro.foto}}" width="50px"><img/>
    </td>    
    <td>
      <button>Seleccionar</button>
      <button>Eliminar</button>
    </td>
  </tr>
</table>